@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
  .print-container {
      width: 100%;
      padding: 0;
      margin: 0;
      box-shadow: none;
      border: none;
  }
  /* By default, hide the answer blocks when printing */
  .printable-answer {
    display: none !important;
  }

  /* When the parent container has the 'print-with-answers' class, force the answer blocks to be visible */
  .print-with-answers .printable-answer {
    display: block !important;
  }
}